/* General */
* { 
    box-sizing : border-box;
    font-weight : lighter; 
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

body {
    margin : 0%;
}

h1 {
    text-decoration : underline;
    text-decoration-thickness : 1px;
    text-align : center; 
    margin-top : 10px;
    color : black; 
    font-weight : 350;
}

p {
    text-align : justify;
    font-size : 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom : 20px;
    padding-top : 10px;
}

.center {
    text-align : center; 
}

a {
    color: blue;
}

q {
    font-style : italic;
}

img {
    border-radius : 20px;
    max-width : 100%;
    height : 340px; 
    display : block;
    margin-top : 20px;
    margin-left : auto; 
    margin-right : auto;
}

/* Navbar */

.navbar {
    overflow : hidden; 
    background-color : grey; 
    position : fixed;
    top : 0; 
    width : 100%; 
    height : 7%;
    z-index : 1;
    text-align : center;
    padding : 12px;
}    

.navbar a { 
    color: white;
    text-decoration : none;
    font-size : 24px; 
    text-align : center;
    margin : 5px;
    padding : 7px;
}

.navbar a:hover {
    background-color : lightgrey; 
    color : black; 
    border-radius : 15px;
}

/* Home */

#Home_Image {
    width : 100%;
    height : auto;
    border-radius : 0px;
    margin-bottom : 50px;
}

#Home {
    position : relative;
    text-align : center;
    color : white;
    top : -10px;
}

#Home_Text {
    font-size : larger;
    position : absolute;
    top : 35%;
    left : 50%;
    transform: translate(-50%, -50%);
  }

/* Content */

.Column_1 {
    float : left;
    width : 50%; 
    padding : 10px;
    height : 400px; 
    background-color : whitesmoke; 
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
    background-color : #b86948;
}

.Row {
    padding-bottom : 50px;
}

.Row:after {
	content : ""; 
	display : table; 
	clear : both; 
}

/* Contact Form */

form {
    border-radius : 10px;
    padding : 25px; 
    background-color : white; 
}

input[type=text] {
    width : 100%; 
    padding : 12px; 
    border : 1px solid lightgrey; 
    border-radius : 4px; 
    box-sizing : border-box; 
    margin-top : 6px; 
    margin-bottom : 16px;
    resize : vertical;
}

input[type=text]:hover {
    box-shadow : 0 0 5px black inset; 
}

input[type=submit] {
    background-color : #4C4E52; 
    color : white; 
    padding : 12px 20px; 
    border : none;
    border-radius : 4px; 
    cursor : pointer; 
    display : block; 
    margin-left : auto; 
    margin-right : auto;
}

input[type=submit]:hover {
    background-color : rgb(213, 213, 213);
    color : black;
}

/* Footer */

footer {
    margin-top : 10%;
    padding-top : 5%;
}

/* On screens 576px and smaller images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height : 100px;
        margin-top : 150px;
    }
}
/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width : 25%; /* This makes each link take up 1/4 of the navbar */
        font-size : 12px;
    }
}

/* Screens that are 576px and smaller will not display the background media */
@media screen and (max-width: 576px) {
    #Home {
        display : none;
    }
}


/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow : auto;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width : 10px;
  }
  
  ::-webkit-scrollbar-track {
    background : #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background : #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background : #555;
  }